<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.dao.materials.InboundInfoMapper">
	<!-- 查询入库信息 -->
	<select id="queryIncomingInfo" resultType="incomingInfo">
		select tpro.pceId,a.pucontract contractN,a.punum putInStorage,nvl(b.stnum,0) actualStorage from (
		select tp.protId pucontract,sum(tcp.amount) punum from T_CHOICE_PRICE_DETAIL tcp,t_choice_price tc,t_protocal tp
		where tcp.chPriceId in (
				select chPriceId from t_choice_price where pceId in (
					select pceId from t_protocal tp where state = 2
				)
		) and tcp.chPriceId = tc.CHPRICEID
		and tp.pceId = tc.pceId
		group by tp.protId) a left join
		(select tsi.protId stcontract,sum(tsid.tsiNumber) stnum from t_store_in tsi,T_STORE_IN_DETAIL tsid
		where tsi.tsiId = tsid.tsiId
		group by tsi.protId) b on a.pucontract = b.stcontract,t_protocal tpro
		where tpro.protId = a.pucontract
	</select>
	<!-- 查询合同下的供应商应供应数量，和实际供应数量 -->
	<select id="supplierSupplyQuantityQuantityActualSupply" resultType="inboundSubinformation">
		select a.y supplierIdOrGoodsId,a.q shouldSendTheNumber,nvl(b.o,0) realNumberSend,tpr.PRONAME suppliersNameOrgoodsName from (
		select tcpd.PROVIDERID y,sum(tcpd.AMOUNT) q from T_CHOICE_PRICE_DETAIL tcpd where tcpd.chPriceId in (
				select tcp.chPriceId from t_choice_price tcp where pceId = (
				select tp.pceId from T_PROTOCAL tp where tp.protId = 'protId_1'
			)
		)
		group by tcpd.PROVIDERID) a left join (
		  select a.s k,sum(tsid.TSINUMBER) o from T_STORE_IN_DETAIL tsid,(
		    select tsi.PROVIDERID s,tsi.tsiId b from t_store_in tsi
				where tsi.protId = 'protId_1'
				) a
				where a.b = tsid.tsiId
				group by a.s
		) b
		on a.y = b.k left join t_provider tpr
		on a.y = tpr.PROVIDERID
	</select>
	<!-- 查询供应商供应物资的详细信息 -->
	<select id="inquireAboutTheSupplyOfMaterialsSuppliedByTheSupplier" resultType="inboundSubinformation">
		select a.a supplierIdOrGoodsId,a.b suppliersNameOrgoodsName,a.c shouldSendTheNumber,nvl(b.b,0) realNumberSend from (
		select tcpd.goodsId a,tg.BRAND b,tcpd.AMOUNT c from T_CHOICE_PRICE_DETAIL tcpd,t_goods tg
		where tcpd.CHPRICEID in (
		  select tcp.chPriceId from t_choice_price tcp
			where tcp.pceId = #{arg0}
		) and tcpd.providerId = #{arg1}
		and tg.GOODSID = tcpd.GOODSID) a left join (
			select tsid.goodsId a,tsid.TSINUMBER b from T_STORE_IN_DETAIL tsid,(
					select tsiId a,providerId b from t_store_in tsi
					where tsi.protId in (
						select tp.protId from t_protocal tp
						where tp.pceId = #{arg0}
					) and providerId = #{arg1}
			) a
			where a.a = tsid.tsiId
		) b on a.a = b.a
	</select>
</mapper>